
body {
    font-family: "Segoe UI",Verdana,Arial,sans-serif;
    font-size: 1em;
    margin:0;padding:0
}

.ui-widget, .ui-widget .ui-widget { font-size: 90% !important;}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-wrap {background: radial-gradient(circle at 50% 75% , #eeeeee, #eeeeee);
 box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.08);padding: 10px 0; border-bottom:1px solid #CCC}

.nav-wrap {padding-top:10px}
.footer-wrap { background: linear-gradient(#868686, #666666) repeat scroll 0 0 rgba(0, 0, 0, 0); border-top: 1px solid #262626;
    color: #ffffff;
    outline: 0 none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);font-size:90%;padding:20px 0 }